@charset "UTF-8";

@font-face {
    font-family: 'Fraunces';
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format(truetype);
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype);
}
:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-1: 'Fraunces';
    --fonte-2: 'Montserrat';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: hsl(30, 38%, 92%);
}
  .attribution { 
    font-size: 11px;
    text-align: center;
}
  .attribution a { 
    color: hsl(228, 45%, 44%);
}

div#dados {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 420px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 0px 15px 15px 0px;
    padding: 15px;

}
div#imagem {
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    border-radius: 15px 0px 0px 15px;
}

div#compra {
    background-color: hsl(158, 36%, 37%);
    width: 180px;
    text-align: center;
    
    font-family: var(--fonte-1);
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 300%);
}

p {
    font-family: var(--fonte-2);
    font-size: 14px;
    line-height: 1.3em;
    padding: 10px;
    padding-left: 15px;
    font-weight: 500;
}

p#titulo {
    font-family: var(--fonte-2);
    font-style: unset;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 15px;
    padding-top: 20px;
    font-weight: 500;
}
h1 {
    padding: 10px;
    padding-left: 15px;
    font-family: var(--fonte-1);
    font-style: normal;
    font-weight: bold;
    padding-right: 5px;
}

p#price1 {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    font-family: var(--fonte-1);
    font-weight: bold;
}

div#price2 {
    font-size: 13px;
    color: rgb(68, 68, 68);
    font-family: var(--fonte-1);
    text-decoration: line-through;
    font-weight: 500;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(20%, 300%);
}

div#icon {
    background-image: url(images/icon-cart.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-450%, 980%);
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width: 680px) {
    div#imagem {
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 384px;
        height: 386px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        border-radius: 15px 15px 0px 0px;
    }

    div#dados {
        background-color: hsl(0, 0%, 100%);
        width: 354px;
        height: 356px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -5%);
        border-radius: 0px 0px 15px 15px;
        padding: 15px;
        text-align: justify;
    }

    div#price2 {
        font-size: 13px;
        font-family: var(--fonte-1);
        text-decoration: line-through;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-40%, 490%);
    }
    p {
        font-family: var(--fonte-2);
        font-size: 14px;
        line-height: 1.3em;
        padding-left: 15px;
        padding-right: 70px;
        font-weight: 400;
    }
    div#compra {
        background-color: hsl(158, 36%, 37%);
        width: 210px;
        text-align: center;
        
        font-family: var(--fonte-2);
        color: white;
        font-weight: 500;
        font-size: 14px;
        padding: 15px;
        border-radius: 10px;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 270%);
    }
    div#icon {
        background-image: url(images/icon-cart.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-450%, 920%);
        background-repeat: no-repeat;
        width: 15px;
        height: 16px;
        background-position: center center;
        background-size: cover;
    }
}